<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstPageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>143A116F1CB97BC900F4BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>143A11881CB97BCA00F4BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>143A11931CB97BCA00F4BED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
